*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  
}

body{
  background: rgba(8, 0, 12, 0.76);
  display: block;
  font-family: 'Roboto Mono', monospace;
}

header{
  line-height: 4rem;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;

}

header h1{
  font-size: 4.2rem;
  color: hsl(208, 100%, 97%);
  margin-top: 3rem;
}

header span{
  color: #8256E7;
}

header p{
  font-size: 1.6rem;
  color: hsl(208, 100%, 97%);
  margin-bottom: 1.5rem;

}

.conteiner{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

main{
  border-radius: 0.5rem;
  padding-bottom: 0;
}

main p{
  font-size: 1.4rem;
  padding: 1rem;
}

main .panel p{
  margin-bottom: 0rem;
}

/* Style the buttons that are used to open and close the accordion panel */
.toggle {
  background-color: #8256E7;
  color: #FFFFFF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}



/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .toggle:hover {
  background-color: #8253f1;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  color: #ffffff;
  margin: -1rem 0 1rem 0;
  border-radius: 0 0 1rem 1rem;
}


footer{
  font-size: 1rem;
  margin: 25px 0;
  color: hsla(208, 100%, 97%, 0.75);
  text-align: center;
}

a{
    text-decoration: none;
    color: #ffffff;
    padding: 0.2rem;
  }

@media(min-width: 70em){
  main{
    max-width: 1020px;
    width: 60rem;
  }
  main .toggle {
    font-size: 2rem;
  }
 main p{
    font-size: 1.8rem;
  }
  footer{
    font-size: 1.8rem;
    width: 200rem;
    line-height: 5rem;

  }
  a{
    text-decoration: none;
    color: #ffffff;
    padding: 0.2rem;
  }
}
